.logo,.imagen{
text-align: center;
}
#heading{
    background-color:white;
}
body{
background: rgb(158, 224, 158);
text-align: center;
}
    
.logo,.login,.create,.container{
text-align: center;
}
*{
margin: 0%;
padding: 0%;
}